<script>
var getTime = () => {
    time = new Date();
    hours = time.getHours();
    minutes = time.getMinutes();
    ampm = (hours >= 12 ? "pm" : "am")
    if (hours > 12){hours -= 12;} 
        else if (hours === 0) {hours = 12;}
    if (minutes < 10) {minutes = "0" + minutes}
    return  (hours + ":" + minutes + ampm)
};

var updateScroll = () => {
    var messages = document.getElementById("messageContainer");
    messages.scrollTop = messages.scrollHeight;
};

var randomColour = Math.floor(Math.random()*16777215).toString(16);

var socket = io('/chatroom');

var username = "{{username}}";

var postMessage = () => {
    event.preventDefault();
    timeStamp = getTime();
    socket.emit('chat message', document.getElementById('m').value, username, timeStamp, randomColour);
    document.getElementById('m').value = '';
    return false
};

socket.on('chat message', (msg, user, msgTime, colour) => {
    if (user === username){
    message = '<li class="user">';
    } else {message = '<li>';}
    //style = `a:link, a:visited, a:hover, a:active { color: #${colour}; text-decoration: none }`
    message += `<span style="color: #${colour}"><a href=/profile/${user} target="_blank" >` + user + '</a></span> - ' + msgTime + '<br>' + msg + '</li>'
    document.getElementById('messages').innerHTML += message;
    updateScroll();
});
// socket.on('new connect', () => {
//   message = '<li>' + user + ' connected!' + '</li>'
//   document.getElementById('messages').innerHTML += message;
// });
// socket.on('disconnect', () => {
//   message = '<li>' + user + ' disconnected :(' + '</li>'
//   document.getElementById('messages').innerHTML += message;
// });
</script>