<footer>
    <div style="text-align: center">
        <p class = "footertext" style="font-family:monospace; font-size: 1.3em;"> © Copyright {{getCurrentYear}} - Unpacked Solutions</p>
    </div>
</footer>