<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    {{> bootstrap}}
    {{> Style}}
    {{> chatStyle}}
    <script src="/socket.io/socket.io.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/lib/css/emoji.css" rel="stylesheet">
  </head>
  <body class="background">
    <nav class="navbar navbar-expand-lg navbar-light background">
      <a class="navbar-brand font1" style="font-size: 30px; font-weight: bolder; color: rgba(255,255,255,0.95)">CHATLANTIS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ">
              <li class="nav-item ">
                  <a class="nav-link button1" role="button" href={{link}}>Log out</a>
              </li>
          </ul>
      </div>
    </nav>
    
    <div class="messageBoxContainer">
      <div class="messageBox">
        <div id='messageContainer'>
          <ul id="messages"></ul>
        </div>
        <div>
          <form id="f" action="" onsubmit='postMessage()'>
            <input id="m" autocomplete="off" maxlength="200"  placeholder="Type something..." autofocus/>
            <button class = "emojiButton" onclick="showPicker()">😃</button>
            <button class = "button2">Send</button>
          </form>
          <div id="emojiPicker">
              <button class = "emoji" onclick="paste(':grinning:')">😀</button>
              <button class = "emoji" onclick="paste(':smiley:')">😃</button>
              <button class = "emoji" onclick="paste(':smile:')">😄</button>
              <button class = "emoji" onclick="paste(':grin:')">😁</button>
              <button class = "emoji" onclick="paste(':laughing:')">😆</button>
              <button class = "emoji" onclick="paste(':sweat_smile:')">😅</button>
              <button class = "emoji" onclick="paste(':joy:')">😂</button>
              <button class = "emoji" onclick="paste(':yum:')">😋</button>
              <button class = "emoji" onclick="paste(':expressionless:')">😑</button>
              <button class = "emoji" onclick="paste(':sleeping:')">😴</button>
              <button class = "emoji" onclick = "paste(':+1:')">👍</button>
              <button class = "emoji" onclick = "paste(':-1:')">👎</button>
              <button class = "emoji" onclick = "paste(':v:')">✌</button>
              <button class = "emoji" onclick = "paste(':ok_hand:')">👌</button>
              <button class = "emoji" onclick = "paste(':wave:')">👋</button>
              <button class = "emoji" onclick = "paste(':muscle:')">💪</button>
              <button class = "emoji" onclick = "paste(':fist:')">✊</button>
              <button class = "emoji" onclick = "paste(':clap:')">👏</button>
              <button class = "emoji" onclick = "paste(':pray:')">🙏</button>
              <button class = "emoji" onclick = "paste(':raised_hands:')">🙌</button>
              <button class = "emoji" onclick="paste(':grapes:')">🍇</button>
              <button class = "emoji" onclick="paste(':banana:')">🍌</button>
              <button class = "emoji" onclick="paste(':cheese_wedge:')">🧀</button>
              <button class = "emoji" onclick="paste(':cherries:')">🍒</button>
              <button class = "emoji" onclick="paste(':lemon:')">🍋</button>
              <button class = "emoji" onclick="paste(':peanuts:')">🥜</button>
              <button class = "emoji" onclick="paste(':eggplant:')">🍆</button>
              <button class = "emoji" onclick="paste(':wine_glass:')">🍷</button>
              <button class = "emoji" onclick="paste(':pizza:')">🍕</button>
              <button class = "emoji" onclick="paste(':pie:')">🥧</button>
              <button class = "emoji" onclick="paste(':hotdog:')">🌭</button>
              <button class = "emoji" onclick="paste(':hamburger:')">🍔</button>
              <button class = "emoji" onclick="paste(':taco:')">🌮</button>
              <button class = "emoji" onclick="paste(':dumpling:')">🥟</button>
              <button class = "emoji" onclick="paste(':fried_shrimp:')">🍤</button>
              <button class = "emoji" onclick="paste(':fries:')">🍟</button>
              <button class = "emoji" onclick="paste(':cookie:')">🍪</button>
              <button class = "emoji" onclick="paste(':doughnut:')">🍩</button>
              <button class = "emoji" onclick="paste(':sushi:')">🍣</button>
              <button class = "emoji" onclick="paste(':poultry_leg:')">🍗</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  {{> footer}}
  {{> chatScript}}
</html>