<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{> bootstrap}}
    {{> Style}}




</head>
<body class="background">
    <div class="backgroundColor margin1 " >
        <h1 class="font1">C H A T L A N T I S.</h1>
        <br>
        <a class="btn btn-outline-light" href="{{pages.[0]}}" role="button">Sign In</a> &nbsp; &nbsp;
        <a class="btn btn-outline-light" href="{{pages.[1]}}" role="button">Log In</a> &nbsp;&nbsp;
        <a class="btn btn-outline-light" href="{{pages.[2]}}" role="button">Chatroom</a>

    </div>



</body>
{{> footer}}
</html>