<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{> bootstrap}}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body class="background">
<nav class="navbar navbar-expand-lg navbar-light background">

    <a class="navbar-brand font1" style="font-size: 30px; font-weight: bolder; color: rgba(255,255,255,0.95)">CHATLANTIS</a>
</nav>
<div class="ProfileColor">
    <p class="font3 align2" style="text-align: center" >PROFILE</p>

    <hr style="border: black solid 1px">
    <div class="form-group  align" >
        <label class="font2" style="font-size: 20px">Username: </label>
        <p style="font-weight: bold; color: #0b97c4">{{username}}</p>

    </div>
    <div class="form-group  align" >
        <label class="font2" style="font-size: 20px" >Name: </label>
        <p style="font-weight: bold; color: #0b97c4">{{name}}</p>
    </div>
    <div class="form-group  align" >
        <label class="font2" style="font-size: 20px" >Email: </label>
        <p style="font-weight: bold; color: #0b97c4">{{email}}</p>
    </div>
</div>

</body>
{{> footer}}
</html>